.container{
    display: flex;
    justify-content: center;
    background-color: rgb(59, 54, 54);
   min-height: 520px;
    gap: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 25px;
    padding-bottom: 25px;
    

}

.img{
    width: 60%;
    border-radius: 1em;
    background-image: url('../../images/maxresdefault.jpg');
    height: 520px;
}

.img:hover {filter: grayscale(80%);}
.auth {
    width: 40%;
}
@media ( min-height: 720px) {
    .container {
        height: 620px;
        background-color: rgb(59, 54, 54);
      
    }
}