.container {
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0.3em 0.25em 0.5em 0.5em #0005;
  margin-top: 1rem;
  max-width: 550px;
  height: 530px;
  padding-bottom: 10px;
}

.container>form {
  padding: 1em 4em;
}

.container h1 {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1e1e1e;
}

.container label {
  margin-top: 0;
  margin-bottom: 0;
}

.container h5 {
  margin-bottom: .5rem;
  margin-top: 0;
}

.inputGroup {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 95%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 0 0 1em;
  border-radius: 4px;
  overflow: hidden;
}

.inputGroup:focus-within {
  outline: 2px solid hsl(226deg, 100%, 70%);
}

.inputGroup:focus-within.error {
  margin-top: 0.2rem;
  color: #f33;
  outline: 2px solid red;
}

.error {
  margin-top: 0.2rem;
  color: #f33;
  outline: 2px solid red;
}

form label {
  font-size: 0.9rem;
  width: 100%;
  background-color: #fff;
  font-family: "Roboto";
  padding: 0.75em;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  border: none;
  resize: none;
}

.inputGroup input {
  font-family: "Roboto";
  padding: 0.75em;
  border: none;
  width: 95%;
  font-size: 0.9rem;
  border: none;
  resize: none;
  outline: 0;
}

.inputGroup :focus input {
  border: none;
  font-family: "Roboto";
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
}


.buttonContainer button[type="submit"] {
  border-radius: 5em;
  border: none;
  color: #fff;
  background-color: hsl(226deg, 100%, 70%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .7em;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  /* margin-bottom: 2rem; */
}

.buttonContainer button[type="submit"]:hover {
  color: black;
}

.errorSpan {
  margin-top: 0rem;
  color: #f33;
  margin-left: 2rem;
  font-size: 0.7rem;
}

@media screen and (max-width: 1100px) {
  .left {
    display: none;
  }
}

@media screen and (max-width: 800px) {

  .center {
    margin: 100px auto;
    width: 100%;
  }

  .left {
    display: none;
  }

  .right {
    display: none;
  }
}

.inputGroupPass {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  width: 95%;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 0 0 0 1em;
  border-radius: 4px;
  overflow: hidden;
}

.inputGroupPass .keyEye {
  margin-right: 1rem;
  width: 2rem;
  cursor: pointer;
  color: white;
}


.inputGroupPass:focus-within {
  outline: 2px solid hsl(226deg, 100%, 70%);
}

.inputGroupPass:focus-within .keyEye {
  color: black;
}

.inputGroupPass:focus-within .keyEye :hover {
  color: hsl(226deg, 100%, 70%);
}


.inputGroupPass:focus-within.error {
  margin-top: 0.2rem;
  color: #f33;
  outline: 2px solid red;
}

.inputGroupPass input {
  font-family: "Roboto";
  padding: 0.75em;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  border: none;
  resize: none;
  outline: 0;
}

.inputGroupPass :focus input {
  border: none;
  font-family: "Roboto";
}

.wrapper .errorSelect {
  margin-top: 0.2rem;
  outline: 2px solid red;
  border-radius: 4px;
}