.nav {
    position: absolute;
    width: 5rem;
    height: auto;
    padding: 1rem 0;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    left: 3rem;
    top: 5rem;
    border: solid black 1px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.navItems {
    transition: all 0.25s ease;
    transform: translateY(0);
}

.navItems:hover {
    transition: all 0.25s;
    transform: translateY(-7px);
}

.navItems::after {
    display: none;
    content: "";
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: transparent;
    transition: all 0.25s;
    cursor: pointer;
}

.navItems:hover::after {
    display: block;
    bottom: -0.5em;
    background-color: rgb(255, 20, 150)
}

.icon {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
}

.icon:hover {
    color: brown
}

.active {
    border-bottom: 2px solid rgb(255, 20, 150)
}

.active:not(.signup),
.active * {
    transform: none;
    cursor: default;
    color: #aaa;
}

.active:hover {
    transform: none;
}

.active:hover::after {
    display: none;
}