* {
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    justify-content:end;
    align-items: center;
    margin-right: 1rem;
    margin-top: 1rem;
    position: relative;
    bottom: 1rem;
    right: 1rem;

}

.pagination {
    
    color: #fff;
    position: relative;
    /* background: #fff; */
    display: flex;
    padding: 0px 10px;
    border-radius: 1rem;
    background: black;
    height: 3rem;
    gap: 2rem;
    align-items: center;

}

.pagination li{
    list-style: none;

    margin: 0 5px;

}



.pgNum{

    text-align: center;
    cursor: pointer;
}



.pgNum:hover {

    color: hsl(226deg, 100%, 70%);
    border-radius: 50%;
    transition: all 1s ease;
}
