.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.menu__link {
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 3em;
  font-size: 1em !important;
  transform: translateY(0);
  transition: all 0.25s ease;
  margin-bottom: 1rem;
  cursor: pointer;
}

.menu__link:hover {
  transition: all 0.25s;
  transform: translateY(-7px);
}

.menu__link::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.25s;
  cursor: pointer;
}

.menu__link:hover::after {
  display: block;
  bottom: -0.5em;
  background-color: rgb(255, 20, 150)
}



.menu__link.logout::after {
  background-color: #f33;
}



.active::after {
  display: none !important;
}

.active:hover,
.column .menu__link:hover {
  transform: translateY(0);
}

.active:hover::after {
  transform: translateY(0);
  
}

.activeIcon{
  color: white;

}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.active {
  color: white;
  cursor: default;
  border-bottom: 2px solid rgb(255, 20, 150)
}

.counter {
  width: 16px;
  height: 16px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  right: 0px;
}

.notifications {
  position: absolute;
  width: max-content;
  top: 2.5rem;
  right: 0;
  background-color: white;
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.markRead {
  background-color: hsl(226deg, 100%, 70%);
  color: #fff;
  margin: 0 0 1em 0;
  border: none;
  padding: 0.5em;
  transition: all 0.25s;
}

.markRead:hover {
  background-color: hsl(226deg, 100%, 50%);
}

.dark .notifications {
  background-color: #222;
  color: #fff;
}

.dark .markRead {
  color: #fff;
}

.logout {
  margin-left: 00px;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
  cursor: pointer;
}